.products{
    .our{
        padding: 5rem 0 2rem 0;
        h3{width: 246px;
            height: 36px;
            font-size: 26px;
            font-weight: 700;
            padding: 5px 0;

        }
        p{
            width: 400px;
            font-size: 1rem;
            font-weight: 500;
        }
                .intro {
                    width: 161px;
                    height: 48px;
                    border-radius: 57px;
                    border: 1px solid #002459;
                    background-color:#ffffff;
                    text-align: center;
                    display: flex;
                    color: #002459;
                    justify-content: center;
                    align-items: center;
                }
    }
    .shoker{transform: translateX(20px);
        display: grid;
        gap: 1rem 1rem;
        grid-template-columns:repeat(4,280px);
        grid-template-rows: repeat(2,480px);
        .reflex{width: 280px;
                box-shadow: 1px 1px 10px;
            padding:10px;
            background-color:#FDFDFD;
            height: 400x;
            img{
                border-radius:10px;
            }
            span{
                font-weight: 800;
                color:#002459;
            }
            .food{padding: 8px;
            padding-top: 1rem;
            line-height:28px;
            }
            h4{width: 248px;
                font-size: 16px;
                font-weight: 700;

            }
            p{
                font-size: 12px;
                font-weight: 500;
            }
            h5{
                font-weight: 700;
                font-size: 14px;
                transform: translateX(0.5rem);

            }
            .word{border-radius:5px;
                width: 240px;
                    height: 34px;

                    background-color: antiquewhite;
            }

        }
    }
}